body{background-color: aquamarine;color: black;
margin: 1rem;}
:root{--cor-primaria:orange;
--cor-secundaria:purple;}

.sublinhado{
  text-decoration: underline;
}
.vermelho{text-transform: uppercase;}
#maisculo{
  text-transform: uppercase;
}
#italico{
  font-style: italic;
}
h1:hover{background-color: beige;}
p::first-letter{font-size: larger;}
.poema{
  color: purple;
}
table,th, td{
  border: 1px solid white;border-radius: 10px;border-collapse:collapse;
  padding: 0.5rem;
}
#foto-perfil{border-radius: 50%;}